
  .containerError {
    padding: 9rem 0;
    text-align: center;
}
   .h2Error {
      font-size: 10rem;
    }

    .h3Error {
      font-size: 4.2rem;
    }

    .pError {
      margin: 2rem 0;
    }
 
