.Nav .navbar-lists {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.Nav .navbar-link:link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: color 0.5s linear;
}

.Nav .navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: color 0.5s linear;
}

.Nav .navbar-link:hover {
  color: #8490ff;
}

.Nav .navbar-link:active {
  color: #8490ff
}

.Nav .mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.Nav .mobile-nav-icon[name="close-outline"] {
  display: none;
}

.Nav .close-outline {
  display: none;
}

.Nav .cart-trolley--link {
  position: relative;
}

.Nav .cart-trolley--link .cart-trolley {
  position: relative;
  font-size: 3.2rem;
}

.Nav .cart-trolley--link .cart-total--item {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  background-color: #000;
  color: #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: -20%;
  left: 70%;
  background-color: #8490ff;
}

.Nav .user-login--name {
  text-transform: capitalize;
}

.Nav .user-logout,
.user-login {
  font-size: 1.4rem;
  padding: 0.8rem 1.4rem;
}

@media (max-width: 768px) {

  .Nav .mobile-navbar-btn {
    display: inline-block;
    z-index: 9999;
    border: #212529;
  }

  .Nav .mobile-navbar-btn .mobile-nav-icon {
    font-size: 4.2rem;
    color: #212529;
  }

  .Nav .active .mobile-nav-icon {
    display: none;
    font-size: 4.2rem;
    position: absolute;
    top: 30%;
    right: 10%;
    color: #212529;
    z-index: 9999;
  }

  .Nav .active .close-outline {
    display: inline-block;
  }

  .Nav .navbar-lists {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }

  .Nav .active .navbar-lists {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 999;
    transform-origin: right;
    transition: all 0.2s linear;
  }

  .Nav .active .navbar-lists .navbar-link {
    font-size: 4.2rem;
  }

  .Nav .cart-trolley--link {
    position: relative;
  }

  .Nav .cart-trolley--link .cart-trolley {
    position: relative;
    font-size: 5.2rem;
  }

  .Nav .cart-trolley--link .cart-total--item {
    width: 4.2rem;
    height: 4.2rem;
    font-size: 2rem;
  }

  .Nav .user-logout,
  .user-login {
    font-size: 2.2rem;
    padding: 0.8rem 1.4rem;
  }

}