.PageNavigation {
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    padding-left: 1.2rem;
}

.PageNavigation a {
    font-size: 20px
}

.PageNavigation a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s linear;
}

.PageNavigation a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s linear;
}

.PageNavigation a:hover {
    color: rgb(98 84 243);
}

.PageNavigation a:active {
    color: rgb(98 84 243);
}